@model DbContextModel.Framework.ThongTinBDS

<div>
    <img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg" class="col-2" alt="Can't load image"/>
    <div>
        <p class="h3">@Model.TieuDe</p>
        <p class="h5">@Model.Gia</p>
        <p>@Model.QuanHuyen</p>
    </div>
</div>