@model DbContextModel.Framework.KhuDanCu

@{
    ViewBag.Title = "Xóa - Khu dân cư";
}

<h3></h3>
<div>
    <h4>Khu dân cư</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenKhuDanCu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenKhuDanCu)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Xem danh sách", "Index")
        </div>
    }
</div>
