@model DbContextModel.Framework.KhuDanCu

@{
    ViewBag.Title = "Chi tiết - Khu dân cư";
}

<div>
    <h4>KhuDanCu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenKhuDanCu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenKhuDanCu)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.MaKhuDanCu }) |
    @Html.ActionLink("Xem danh sách", "Index")
</p>
