@model DbContextModel.Framework.LoaiBDS

@{
    ViewBag.Title = "Xóa - Loại bất động sản";
}

<h3>Bạn có chắc muốn xóa?</h3>
<div>
    <h4>Loại bất động sản</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenLoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenLoai)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Xem danh sách", "Index")
        </div>
    }
</div>
