@model DbContextModel.Framework.QuanHuyen

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>QuanHuyen</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenQuanHuyen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenQuanHuyen)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaQuanHuyen }) |
    @Html.ActionLink("Xem danh sách", "Index")
</p>
