@model DbContextModel.Framework.Huong

@{
    ViewBag.Title = "Chi tiết - Hướng";
}

<div>
    <h4>Huong</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenHuong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenHuong)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.MaHuong }) |
    @Html.ActionLink("Xem danh sách", "Index")
</p>
